{% extends 'BaseTemplate.html' %}
{% load static %}

{% block css %}
<link href="{% static 'css/form.css'%}" rel="stylesheet">
<link href="{% static 'css/myProfile.css'%}" rel="stylesheet">
<link href="{% static 'css/Departamento.css'%}" rel="stylesheet">
{% endblock css %}

{% block js %}
<script src="{% static 'js/imagegallery.js' %}"></script>
{% endblock js %}

{% block wrapper %}
<div class="FondoDepto">
    <div class="gallery-map">
        <div>
            <div class="image-container">
                <div class="image-gallery">
                    {% for  Imagen in Imagenes %}
                        <div src="{{Imagen}}" class=" mini-image "
                            onclick="setMainImage('{{Imagen}}')"
                            style="background-image: url({{Imagen}});">
                        </div>
                    {% endfor %}
                </div>
                <div class="ContenedorMainImagen">
                    <img class="main-image">
                    
                    </img>
                </div>
            </div>
        </div>
        <div class="ServiciosDeptoContenedor">
            <div class="m-auto" >Servicios del Departamento:</div>
            <div class="ServiciosDepto">
                <img class="tablaservicios1"src="{% static 'img/servicios/Wifi.png'%}"> </img>
                <div class="tablaservicios1">WIFI:</div>
                <img class="tablaservicios2" src="{% static 'img/servicios/calefaccion.png'%}"> </img>
                <div class="tablaservicios2">Calefaccion: </div>
                <img class="tablaservicios1" src="{% static 'img/servicios/Estacionamiento.png'%}"> </img>
                <div class="tablaservicios1">Estacionamiento: </div>
                <img class="tablaservicios2" src="{% static 'img/servicios/TV.png'%}"> </img>
                <div class="tablaservicios2">TVs: </div>
                <img class="tablaservicios1" src="{% static 'img/servicios/Cocina.png'%}"> </img>
                <div class="tablaservicios1">Cocina: </div>
                <img class="tablaservicios2" src="{% static 'img/servicios/patio.png'%}"> </img>
                <div class="tablaservicios2">Patio: </div>
                <img class="tablaservicios1" src="{% static 'img/servicios/camasimple.png'%}"> </img>
                <div class="tablaservicios1">Cama - Singular: </div>
                <img class="tablaservicios2"src="{% static 'img/servicios/camagrande.png'%}"> </img>
                <div class="tablaservicios2">Cama - Queen: </div>
                <img class="tablaservicios1" src="{% static 'img/servicios/camagrande.png'%}"> </img>
                <div class="tablaservicios1">Cama - King: </div>
                </div>
            </div>
        </div>
    </div>
    <div class="DescripcionDepto">
        <div class="InfoDepto1">Direccion : {{ depto.Address }}</div>
        <div class="InfoDepto1">Habitaciones: {{ depto.Rooms }} </div>
        <div class="InfoDepto1">Baños: {{ depto.Bathrooms }} </div>
        <div class="InfoDepto1">${{ depto.Value }}CLP noche</div>
    </div>
    <div class="Mapadepto">
        <iframe
            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDxSzLhAQm8sQDTC5gNJV3Zn20WViJLX-0
            &q={{ depto.Longitud }},{{ depto.Latitud }}" allowfullscreen>
        </iframe>
    </div>
</div>





{% endblock wrapper %}