{% extends 'BaseTemplate.html' %}
{% load static %}

{% block css %}
<link href="{% static 'css/form.css'%}" rel="stylesheet">
<link href="{% static 'css/myProfile.css'%}" rel="stylesheet">
<link href="{% static 'css/Departamento.css'%}" rel="stylesheet">
{% endblock css %}

{% block js %}
<script src="{% static 'js/imagegallery.js' %}"></script>
{% endblock js %}

{% block wrapper %}
<div class="TituloDepto FondoDepto"> {{ depto.Address }}
    <div class="image-container">
        <div class="image-gallery">
            {% for Imagen in Imagenes %}
                <div class=" mini-image"
                    onclick="setMainImage('{{Imagen}}')"
                    style="background-image: url({{Imagen}});">
                </div>
            {% endfor %}
        </div>
        <div class="ContenedorMainImagen">
            <img class="main-image">
            
            </img>
        </div>
    </div>
    <div class="DescripcionDepto">
        <div class="">{{ depto.Descripcion}}</div>
        <div class="InfoDepto1">{{ depto.Address }} </div>
        <div class="InfoDepto2">Habitaciones: {{ depto.Rooms }} </div>
        <div class="InfoDepto2">Baños: {{ depto.Bathrooms }} </div>
        <div class="InfoDepto1">${{ depto.Value }}CLP noche</div>
    </div>
    <div>
        <iframe class="Mapadepto"
            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDxSzLhAQm8sQDTC5gNJV3Zn20WViJLX-0
            &q={{ depto.Longitud }},{{ depto.Latitud }}" allowfullscreen>
        </iframe>
    </div>
</div>





{% endblock wrapper %}