{% extends 'BaseTemplate.html' %}
{% load static %}

{% block css %}
<link href="{% static 'css/form.css'%}" rel="stylesheet">
<link href="{% static 'css/myProfile.css'%}" rel="stylesheet">
{% endblock css %}

{% block js %}
<script src="{% static 'js/imagegallery.js' %}"></script>
{% endblock js %}

{% block wrapper %}
<div class="image-container">
    <div class="image-gallery">
        {% for Imagen in Imagenes %}
            <div class=" mini-image"
                onclick="setMainImage('{{Imagen}}')"
                style="background-image: url({{Imagen}}); 
                background-size: cover; 
                background-position: center center;">
            </div>
        {% endfor %}
    </div>
    <div class="ContenedorMainImagen">
        <img class="main-image">
         
        </img>
    </div>
</div>
<iframe
    width="300"
    height="225"
    style="border:0"
    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDxSzLhAQm8sQDTC5gNJV3Zn20WViJLX-0
    &q=-{{ depto.Longitud }},{{ depto.Latitud }}" allowfullscreen>
</iframe>


<div>{{depto.Address}}</div>



{% endblock wrapper %}