#miniProfile{
    text-align: right;
    div{
        float: left;
        margin-right: 1rem;
    }
    .name{
        color: #cfd8dc;
        float: down;
        margin-bottom: 0;
    }
    .logout{
        width: 100%;
        text-align: right;
        a{
            text-decoration: none;
            color: #46545a;
            &:hover{
                color: #bdbdbd;
            }
        }
    }
    img{
        $picture-size: 50px;
        width: $picture-size;
        height: $picture-size;
        border-radius: 50px;
        border: 2px solid #cfd8dc;
    }
}

#FormErrorMessage{
    background-color: rgba(255, 0, 0, 0.322);
    width: 100%;
    &:hover{
        cursor: pointer;
    }
    span{
        font-weight: bold;
        color: black;    
    }
}

#ingreso a{
    color: #cfd8dc;
    text-decoration: none;
}

#navbar{
    background-color: #1B262C;
    font-weight: bold;
}

#colorfondo{
    background-image: url("/static/img/paisajes.png");
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: 100% 100%;

}

@media only screen and (max-width: 600px){
    #colorfondo{
        background-image: url(/static/img/fondotelefono.png);
    }
}

#cartalogin {
    width: 100%;
    max-width: 330px;
    padding: 25px;
    margin: auto;
    border-radius: 25px;
    background-color: rgb(220, 215, 201, 0.8);
}

#colorboton {
    background-color: #126E82;
}

#LoginButton {
    background-color: rgb(18, 110, 130, 0.9);
    border: rgb(18, 110, 130);
}

#CreateUserButton{
    background-color: rgb(18, 110, 130, 0.9);
    border: rgb(18, 110, 130);
}

.ColorTexto{
    color: #DCD7C9!important;
}

.botonhover:hover{
    background-color: #1B262C!important;
}

#colorhome{
    background-color: #A27B5C!important;
}

#textoboton1{
    font-size: 16px;
}

#textoboton2{
    font-size: 13px;
}
/*
.contenedor input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }
  

  .contenedor:hover input ~ .checkmark {
    background-color: #ccc;
  }
  

  .contenedor input:checked ~ .checkmark {
    background-color: #126E82;
  }
  

  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  

  .contenedor input:checked ~ .checkmark:after {
    display: block;
  }
  

  .contenedor .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

.contenedor {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}  */