#FormErrorMessage{
    background-color: rgba(255, 0, 0, 0.322);
    width: 100%;
    &:hover{
        cursor: pointer;
    }
    span{
        font-weight: bold;
        color: white;    
    }
}
#GlobalMessage{
    position: absolute;
    right: 1rem;
    top: 6rem;
    padding: 0.5rem;
    width: 25rem;
    z-index: 2;
    backdrop-filter: blur(1px);
    
    &.error{
        background-color: #fb9b9bc9;
    }
    &.success{
        background-color: #a1fb9bc9;
    }
}
/*Responsibidad*/
@media only screen and (max-width: 600px){
    .nombre{
        font-size: 12px !important;
        
    }
    #colorhome{
        grid-template-columns: 1fr 300px 1fr !important;
    }
    #GlobalMessage{
        right: 1rem!important;
        width: 20rem!important;
    }
    .TituloDepartamentos{
        font-size: 25px !important;
        font-weight: 600 !important;
    }
    .DetallesDepartamento{
        margin-left: 1px !important;
        width: 120px !important;
    }
    .InfoDepartamento{
        flex-wrap: wrap !important;
        display: flex !important;
        flex-direction: column !important;
        overflow: hidden !important;
        white-space: normal !important;
        width: 210px !important;
    }
    .InfoDepartamentoDescp {
        width: 86vw !important;
        margin-left: 1vw !important;
        margin-right: 1vw !important;
        margin-top: 1vw !important;
        margin-bottom: 3vw !important;
    }
}
.labelcolor{
    color: #1B262C;
} 
#colorboton {
    background-color: #126E82;
    grid-template-columns: 1fr 1400px 1fr;
}
.botonhover:hover{
    background-color: #0a2e42!important;
}
#colorhome{
    display: grid !important;
    grid-template-columns: 1fr 1200px 1fr;
}
body{
    min-height: 100vh;
    display: grid;
    grid-template-rows: 90px 1fr 50px;
    background-color: #faf6eb;
   }
#deptos{
 grid-column: 2;
 flex-wrap: wrap;
 justify-content: center;
}
footer{
    display: flex;
    align-self: flex-end;
    background-color: #1B262C;
    font-weight: bold;
    height: 50px;
    color: #DCD7C9;
}
.copy{
    margin: auto;
}
.box{
    position: absolute;
    top: 50%;
    margin: auto;
    bottom: 50%;
    min-width: 15px;
    min-height: 15px;
    right: 20px;
}
.margen_lista{
    text-decoration: none!important;
    background-color: #faf6eb;
    max-width: 300px;
    min-width: 300px;
    margin: auto;
    border-radius: 30px;
    margin-top: 40px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);    
  }

.margen_lista:hover{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.6);
    transform: translateY(-3%);
}

.depto-image-container{
    display: flex;
    justify-content: center;
    width: 100%;
}
.depto-image{
    width: 100%;
    height: 100%;
    border-radius: 32px;
    padding: 5px;
}
.Actualizar{
    text-decoration: none;
    background-color: #1B262C;
}
.d-hidden{
    display: none!important;
}
.info{
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 10px;
}
/*Nombre departameto*/
.InfoDepto1{
    color: #1B262C!important;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    font-weight: bold;
    margin-left: 5px;
    align-items: left !important;
    text-align: left !important;
    text-decoration: none!important;
    text-overflow: ellipsis !important;
    width: 295px;
    white-space: nowrap;
    overflow: hidden;
    margin-top: 2vw;
}
/*Precio departamento*/
.InfoDepto2{
    color: #1B262C!important;
    text-decoration: none!important;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    font-weight: 600;
    margin-left: 8px;
    align-items: left !important;
    text-align: left !important;
    width: 295px;
    white-space: nowrap;
    overflow: hidden;
}
/*Detalles departamento tarjeta*/
.DetallesDepartamento{
    color: #1B262C!important;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    font-size: 15px;
    font-weight: bold;
    margin-left: 5px;
    width: 120px;
    white-space: nowrap;
    overflow: hidden;
}
/*Detalles departamento vista departamento*/
.InfoDepartamento{
    color: #1B262C!important;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 5px;
    width: 28vw;
    white-space: normal;
    overflow: hidden;
    flex-wrap: wrap !important;
    display: flex !important;
    flex-direction: column !important;
}
/*Vista departamento Descripcion */
.InfoDepartamentoDescp{
    color: #1B262C!important;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 48vw;
    flex-wrap: wrap !important;
    display: flex !important;
    flex-direction: column !important;
    overflow: hidden;
    margin: 5px;
    text-align: justify;
}
/*Vista departamento Descriciom*/
.MapDepartamento{
    color: #1B262C!important;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    font-weight: bold;
    margin-left: 5px;
    align-items: left !important;
    text-align: left !important;
    text-decoration: none!important;
    text-overflow: ellipsis !important;
    width: 295px;
    white-space: nowrap;
    margin-top: 2vw;
}
.margen_lista img{
    height: 300px;
}
.slider{
    width: 100%;
    height: auto;
    // max-width: 1920px;
    min-width: 300px;
    margin: 20px auto 0;
    overflow: hidden;  
}
.slider ul{
    display: flex;
    padding: 0;
    width: 400%;  
    animation: slide 16s infinite alternate ease-in-out;
}
.slider li{
    list-style: none;
    width: 100%;
}
.slider img{
    width: 100%;
}
@keyframes slide{
    0%{margin-left: 0%;}
    20%{margin-left: 0%;}

    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    75%{margin-left: -300%;}
    100%{margin-left: -300%;}
}
.contenedorhome{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}
.TituloDepartamentos{
    margin: 10px;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    font-family: "Lexend Deca", sans-serif;
    line-height: 37px;
    letter-spacing: 0.6px;
}