.card.msg{
    margin-top: 1rem;
    &.send{
        background-color: #9edb9e;
        margin-left: auto;
        text-align: right;
    }
    &.recieved{

    }
    .card-body{
        padding: 0;
        .username{
            font-size: small;
            margin: 0;
            color: rgb(59, 59, 59);
        }
        .msg{
            font-size: large;
            margin: 0;
        }
    }
}

#inputs{
    margin-top: 1rem;
}