.image-gallery {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-height: 700px;
  overflow-y: auto;
  padding: 20px;
}

.mini-image {
  margin-top: 10px;
  min-width: 100px;
  min-height: 100px;
  max-width: 100px;
  max-height: 100px;
  border: 2px solid black;
  background-size: cover;
  background-position: center center;
  border-radius: 15px;
}

.mini-image:hover {
  opacity: 0.7;
}

.main-image {
  border: 1px solid black;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center center;
  border-radius: 15px;
}

.ContenedorMainImagen {
  border: 2px #1B262C;
  padding: 30px;
  max-height: 700px;
}

.image-container {
  margin: 10px;
  max-width: 1000px;
  max-height: 700px;
  display: grid;
  grid-template-columns: 150px 1fr;
}

.TituloDepto {
  font-style: italic;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  padding-top: 5px;
  padding-left: 10px;
}

.DescripcionDeptoContenedor {
  margin: auto;
  border: 1.5px solid rgb(82, 81, 81);
  width: 580px;
  height: 340px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

.titulodesc {
  display: flex;
  justify-content: center;
  top: 50px;
}

.DescripcionDepto {
  margin-left: 15px;
  margin-top: 30px;
  margin-bottom: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 300px;
}

.FondoDepto {
  background-color: #faf6eb;
  grid-column: 2;
  margin-top: 30px;
}

.Mapadepto {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-left: 5px;
}

.gallery-map {
  display: flex;
  margin: auto;
  justify-content: center;
}

.ServiciosDeptoContenedor {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-left: 15px;
  margin-bottom: 50px;
}

.ServiciosDepto img {
  max-height: 30px;
  max-width: 30px;
}

.ServiciosDepto {
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.ServiciosDepto .servicio {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.ServiciosDepto .servicio:nth-child(2n+1) {
  background-color: #1B262C;
  color: #DCD7C9;
}
.ServiciosDepto .servicio:nth-child(2n+1) img {
  filter: invert(93%) sepia(71%) saturate(108%) hue-rotate(321deg) brightness(91%) contrast(88%);
}
.ServiciosDepto .servicio:nth-child(2n+2) {
  background-color: #DCD7C9;
  color: #1B262C;
}
.ServiciosDepto .servicio:nth-child(2n+2) img {
  filter: invert(9%) sepia(33%) saturate(541%) hue-rotate(157deg) brightness(100%) contrast(90%);
}

.galeriayserv {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid lightgray;
}

/*Responsibidad*/
@media only screen and (max-width: 600px) {
  .gallery-map {
    max-width: 40vh !important;
  }
  .gallery-map img {
    max-width: 40vh !important;
  }
  .image-gallery {
    display: flex !important;
    flex-direction: row !important;
  }
  .galeriayserv {
    flex-direction: column !important;
  }
  .descripcionder {
    display: none !important;
  }
  .image-container {
    display: flex !important;
    max-width: 40vh !important;
    flex-direction: column-reverse !important;
  }
  .Mapadepto {
    width: 40vh !important;
  }
  .mapa {
    width: 40vh !important;
  }
  .descripcionizq {
    display: flex !important;
    flex-direction: column;
  }
  .descripcion {
    width: 40vh !important;
  }
  .DescripcionDeptoContenedor {
    width: 40vh !important;
    height: 300px !important;
    margin-bottom: 5vw !important;
  }
  #ButtonReserva {
    width: 30vh !important;
    height: 6vh !important;
  }
  .bodydesc {
    grid-template-columns: 40vh !important;
  }
  .ServiciosDepto {
    display: flex !important;
    flex-direction: column !important;
  }
  .mini-image {
    margin: 0.5vw !important;
  }
}
.mapa-descripcion {
  display: flex;
  flex-direction: column;
}

.mapa {
  width: 80vh;
  height: 50vh;
}

.descripcion {
  margin-bottom: auto;
}

.fondo {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
}

.ButtonReserva {
  width: 350px;
  height: 50px;
  border-radius: 25px;
  margin: auto;
  margin-bottom: 15px;
  display: flex;
  align-items: flex-end;
  background-color: #1B262C;
  border: 2px solid #DCD7C9;
  color: #DCD7C9;
}

.ButtonReserva:hover {
  background-color: #126E82;
}

.ButtonReserva h4 {
  margin: auto;
}

.infoservicios {
  color: #1B262C !important;
  font-weight: bold;
  font-size: larger;
}

.serviciotop {
  display: grid;
  grid-template-columns: 40px 1fr;
}

.serviciobot {
  display: flex;
  margin: auto;
}

.bodydesc {
  display: flex;
  flex-direction: row;
}

.descripcionder {
  display: flex;
  margin: auto;
}

.descripcionder img {
  display: flex;
  margin: auto;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.contenedorreserva {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #dcd7c9;
  border: 1px solid rgba(27, 38, 44, 0.8);
  border-radius: 15px;
}

.fecha {
  display: flex;
  flex-direction: row;
  margin: 0 10px 0 10px;
}

.fecha span {
  margin: 0 10px 0 10px;
}

.topreserva {
  margin-top: 10px;
}

.botreserva {
  margin-bottom: 10px;
}

.elementoservicio {
  display: flex;
  flex-direction: row;
}

.contenedorvalor {
  display: flex;
  flex-direction: row;
}

.textoreserva {
  margin-right: 50px;
}

.marcado {
  background-color: #126E82;
}/*# sourceMappingURL=Departamento.css.map */