#ButtonCancelar{
    width: 100px;
    height: 50px;
    border-radius: 25px;
    margin-bottom: 15px;
    background-color: #1B262C;
    border: 2px solid #DCD7C9;
    color: #DCD7C9;
}
#ButtonCancelar:hover{
    background-color: #126E82;
}
#ButtonCancelar h4{
    margin: auto;
    font-size: medium;
}
.Titulo{
    font-size: small;
    color: #1B262C;
    display: flex;
    font-weight: bold;
}
.cartareserva{
    display: flex;
    flex-direction: column;
    max-width: 300px;
    max-height: 600px;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 1px solid #1B262C;
    border-radius: 8px;
    margin-right: 30px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    transition: all 400ms ease;
    font-weight: bold;
    text-decoration: none;
    color: #1B262C;
}

.cartareserva:hover{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.6);
    transform: translateY(-3%);
}

.BordesReservas{
    margin: auto;
    text-decoration: none;
    overflow-wrap: break-word;
    justify-content: center;
    margin-left: 10px;
}
.ValorFormat{
    margin: auto;
    text-decoration: none;
    overflow-wrap: break-word;
    justify-content: center;
    margin-left: 10px;
}
.ContenedorReserva{
    display: flex;
    flex-flow: wrap row;
    margin: auto;
    justify-content: center;
}
.fondoReservas{
    grid-column-start: 2;
    display: flex;
    flex-direction: column;
}
.titulo{
    font-size: larger;
    font-weight: bold;
    color: black;
    margin-top: 5px;
    margin-left: 20px;
}


/*-----------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------vista Reserva Detalles--------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------*/
#detalle{
    display: none; /* Hidden by default */
    align-items: flex-end;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.contenedorDetalle{
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    height: fit-content;
    border-radius: 5px;
}
.Left-Right-Reserva{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}
.TContenedordreserv{
    color: #1B262C!important;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    font-size: 15px;
    margin-left: 10px;
}
.DescripcionReservaContenedor{
    flex-direction: column;
    width: 70vh!important;
    height: 380px!important;
    margin-bottom: 5vw !important;
    margin: auto;
    border: 1.5px solid rgb(82, 81, 81);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.DescripcionReserva{
    margin-left: 15px;
    margin-top: 30px;
    margin-bottom: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.DetallesDepartamento{
    color: #1B262C!important;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    font-size: 15px;
    margin-left: 5px;
    width: 120px;
    white-space: nowrap;
    overflow: hidden;
}
.NombreReserva{
    color: #1B262C!important;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    font-size: x-large;
    margin-left: 5px;
}