$picture-size: 200px;
#profilePicture{
    width: $picture-size;
    height: $picture-size;
    border-radius: $picture-size;
    border: 5px solid #cfd8dc;
    cursor: pointer;
    &:hover{
        filter: grayscale(50%);
    }
}
/*Foto de perfil para visualizar sin acciones*/
#profilePictureG{
    width: $picture-size;
    height: $picture-size;
    border-radius: $picture-size;
    border: 5px solid #cfd8dc;
}
#cartaMiPerfil {
    width: 100%;
    max-width: 330px;
    padding: 25px;
    margin: auto;
    border-radius: 25px;
    background: linear-gradient(to top, rgba(27, 38, 44, 0.9), rgba(28, 28, 28,0.5));
    color: #DCD7C9;
}
.fondoMiPerfil{
    background-color: #126E82;
}

.CambioPassword{
    background-color: #126E82;
}
.CartaCambioPassword {
    width: 100%;
    max-width: 330px;
    padding: 25px;
    margin: auto;
    border-radius: 25px;
    background: linear-gradient(to top, rgba(27, 38, 44, 0.9), rgba(28, 28, 28,0.5));
    color: #DCD7C9;
}