$picture-size: 200px;
#profilePicture{
    width: $picture-size;
    height: $picture-size;
    border-radius: $picture-size;
    border: 5px solid #cfd8dc;
    cursor: pointer;
    &:hover{
        filter: grayscale(50%);
    }
}