.navlog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  margin-left: 80px;
  margin-right: 10px;
  min-width: 120px;
  height: auto;
  background-color: #1B262C !important;
  border: 1px solid #494949bf;
  border-radius: 8px 8px 8px 8px;
  top: 0;
  margin-top: 82px;
}

.navnolog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  margin-left: -35px;
  margin-right: 10px;
  min-width: 140px;
  height: auto;
  background-color: #1B262C !important;
  border: 1px solid #494949bf;
  border-radius: 8px 8px 8px 8px;
  top: 0;
  margin-top: 82px;
  z-index: 1;
}

#navbar {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr 1fr;
      grid-template-columns: 1fr 3fr 1fr;
  background-color: #1B262C;
  font-weight: bold;
  height: 90px;
}

.miniperfil {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 20px;
}

#miniProfile {
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

/*Responsibidad*/
@media only screen and (max-width: 600px) {
  .usuariobtn {
    max-width: 110px !important;
    border-radius: 50px !important;
    margin-left: 5px !important;
  }
  #navbar {
    -ms-grid-columns: 2fr 1px 2fr !important;
        grid-template-columns: 2fr 1px 2fr !important;
  }
  .logoimg {
    width: 60px !important;
    height: 50px !important;
  }
  #ingreso {
    margin-left: 50px !important;
  }
  .LogoLetra {
    font-size: large !important;
  }
}

.navizq {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.LogoLetra {
  color: #DCD7C9;
  font-size: x-large;
  font-family: "Lexend Deca", sans-serif;
}

.LogoLetra:hover {
  color: #cfd8dc;
  font-size: x-large;
}

.LogoLetra text {
  text-decoration: none;
}

.contenedorlogos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.logoimg {
  width: 80px;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  margin-left: 5px;
}

.usuariobtn {
  max-width: 100px;
  background-color: #1B262C;
  border: 2px solid #DCD7C9;
  border-radius: 50px;
  margin-left: 15px;
}

.usuariobtn:hover {
  background: rgba(0, 0, 0, 0.4);
  border: 3px solid white;
}

.perfilnav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  width: 100px;
  height: 50px;
}

.userimg img {
  width: 35px;
  height: 35px;
  border-radius: 35px;
  border: 2px solid #DCD7C9;
}

.nombre {
  color: #DCD7C9;
  margin: auto;
  font-size: large;
  font-weight: 600;
  font-family: "Lexend Deca", sans-serif;
}

.header {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 90px 200px;
      grid-template-rows: 90px 200px;
}

.burger {
  margin: auto;
}

.userimg {
  margin: auto;
}

.burger img {
  width: 25px;
  height: 25px;
}

#BotonMiPerfil {
  font-size: 16px;
  padding-left: 10px;
}

#BotonMisReservas {
  font-size: 16px;
  padding-left: 10px;
}

#BotonCerrarSesion {
  font-size: 16px;
  padding-left: 10px;
}

#BotonLogin {
  font-size: 16px;
  padding-left: 10px;
}

#BotonCrearUsuario {
  font-size: 16px;
  padding-left: 10px;
}

#BotonMiPerfil:hover {
  background-color: #126E82 !important;
  border-radius: 7px 7px 0px 0px;
}

#BotonMisReservas:hover {
  background-color: #126E82 !important;
  border-radius: 0px 0px 0px 0px;
}

#BotonCerrarSesion:hover {
  background-color: #126E82 !important;
  border-radius: 0px 0px 7px 7px;
}

#BotonLogin:hover {
  background-color: #126E82 !important;
  border-radius: 7px 7px 0px 0px;
}

#BotonCrearUsuario:hover {
  background-color: #126E82 !important;
  border-radius: 0px 0px 7px 7px;
}

#ingreso a {
  color: #cfd8dc;
  text-decoration: none;
}

.icono {
  width: 100px;
  height: 50px;
}
/*# sourceMappingURL=Navbars.css.map */