/*Responsibidad*/
@media only screen and (max-width: 600px){
    .Left-Right-Reserva{
        flex-direction: column !important;
    }
    .Right-Reserva{
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;
    }
  }
.contenedorDetalle{
    background-color: #008ba7;
}
.Left-Right-Reserva{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: nowrap;
    margin: 45px;
}

/*Detalle Reserva lado Izquierdo*/
.Contenedor{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
}
.TContenedordreserv{ 
    color: #1B262C;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    font-size: 15px;
    margin-left: 10px;
}
.DescripcionReservaContenedor{
    display: flex;
    flex-direction: column;
    width: 70vh;
    height: 380px;
    margin-bottom: 5vw;
    margin: auto;
    border: 1.5px solid rgb(0, 0, 0);
    border-radius: 5px;
    background-color: aliceblue;
    overflow: hidden;
}
.DescripcionReserva{
    margin-left: 15px;
    margin-top: 30px;
    margin-bottom: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.ServiciosReserva{
    margin: auto;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    .servicio{
      display: flex;
      flex-direction: column;
      padding: 10px;
      &:nth-child(2n+1) {
        background-color: #1B262C;
        color: #DCD7C9;
        img{
          filter: invert(93%) sepia(71%) saturate(108%) hue-rotate(321deg) brightness(91%) contrast(88%);
        }
      }
      &:nth-child(2n+2) {
        background-color: #DCD7C9;
        color: #1B262C;
        img{
          filter: invert(9%) sepia(33%) saturate(541%) hue-rotate(157deg) brightness(100%) contrast(90%);
        }
      }
    }
}
  
.DetallesDepartamento{
    color: #1B262C!important;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    font-size: 20px;
    margin-left: 5px;
    overflow: hidden;
}
.NombreReserva{
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    font-size: x-large;
    margin: 5px;
    color: #ffffff;
}
.TituloDR{
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    font-size: large;
    margin: 10px;
    color: #ffffff;
}
.Documentacion{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    color: #1B262C;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    font-size: 15px;
    margin-left: 10px;
}
#ButtonCheck-in{
    width: 400px;
    height: 50px;
    border-radius: 25px;
    margin-bottom: 15px;
    margin: 10px;
    background-color: #1B262C;
    border: 2px solid #DCD7C9;
    color: #ffffff;
}
#ButtonCheck-in:hover{
    background-color: #126E82;
}
#ButtonCheck-out{
    width: 400px;
    height: 50px;
    border-radius: 25px;
    margin-bottom: 15px;
    margin: 10px;
    background-color: #1B262C;
    border: 2px solid #DCD7C9;
    color: #ffffff;
}
#ButtonCheck-out:hover{
    background-color: #126E82;
}
#ButtonCancelar{
    width: 300px;
    height: 50px;
    border-radius: 25px;
    margin-bottom: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #1B262C;
    border: 2px solid #DCD7C9;
    color: #ffffff;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    font-size: large;
}
#ButtonCancelar:hover{
    background-color: #126E82;
}
#ButtonCancelar h4{
    margin: auto;
    font-size: medium;
}
/*-------------------------------------------------------------Detalle Reserva lado Derecho----------------------------------------------------------------------*/
.InformacionReservaCont{
    display: flex;
    flex-direction: column;
    width: 58vh;
    height: 41vh;
    margin-top: 40px;
    margin-bottom: 5vw;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 25px;
    background-color: #e9ecef;

}
.DestalleValores-Fecha{
    color: #1B262C;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    font-size: 15px;
    margin-left: 5px;
}
.FechasIT{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.FechaInicio{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 310px;
    height: 50px;
    border-radius: 5px;
    margin: 15px;
    background-color: #244050;
    border: 3px solid #000000;
    color: #ffffff;
    padding-top: 24px;
    padding-bottom: 24px;
}
.FechaTermino{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 310px;
    height: 50px;
    border-radius: 5px;
    margin: 15px;
    background-color: #244050;
    border: 3px solid #000000;
    color: #ffffff;
    padding-top: 24px;
    padding-bottom: 24px;
}
.Line{
    height: 0.5px;
    width: 450px;
    background-color: rgb(68, 68, 68);
    margin: 5px;
}
.ContenedorValores{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.TituloInfoPrecio{ 
    color: #1B262C;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    font-size: 15px;
    margin-left: 10px;
}
.InformacionPrecio{
    display: flex;
    flex-direction: column;
    width: 45vh ;
    height: 30vh ;
    margin-top: 40px;
    margin-bottom: 1vw ;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    background-color: cornsilk;
}
.ValorFormat{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 465px;
    height: 10px;
    border-radius: 5px;
    margin: 15px;
    background-color: #ffffff;
    border: 2px solid #464646;
    color: #000000;
    padding-top: 24px;
    padding-bottom: 24px;
}
.ContenedorDesgloseValores{
    display: flex;
    flex-direction: column;
    width: 45vh;
    height: 17vh;
    margin-top: 5px;
    margin-bottom: 1vw;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 25px;
    background-color: aliceblue
}
.ButtonDirection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.BotonOrd{
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: auto;
    color: #1B262C;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#ButtonTicket{
    width: 220px;
    height: 50px;
    border-radius: 10px;
    margin: 10px;
    background-color: #1B262C;
    border: 2px solid #DCD7C9;
    color: #ffffff;
}
#ButtonTicket:hover{
    background-color: #126E82;
}
#ButtonTicket h4{
    margin: auto;
    font-size: large;
}
#ButtonServiceExt{
    width: 220px;
    height: 50px;
    border-radius: 10px;
    margin: 10px;
    background-color: #1B262C;
    border: 2px solid #DCD7C9;
    color: #ffffff;
}
#ButtonServiceExt:hover{
    background-color: #126E82;
}
#ButtonServiceExt h4{
    margin: auto;
    font-size: large;
}
#ButtonPagar{
    width: 460px;
    height: 50px;
    border-radius: 10px;
    margin: 10px;
    background-color: #1B262C;
    border: 2px solid #DCD7C9;
    color: #ffffff;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#ButtonPagar:hover{
    background-color: #126E82;
}
#ButtonPagar h4{
    margin: auto;
    font-size: large;
}