.contenedorDetalle {
  background-color: aliceblue;
}

.Left-Right-Reserva {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
  margin: 45px;
}

/*Detalle Reserva lado Izquierdo*/
.Contenedor {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
}

.TContenedordreserv {
  color: #1B262C;
  font-style: italic;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
  font-size: 15px;
  margin-left: 10px;
}

.DescripcionReservaContenedor {
  display: flex;
  flex-direction: column;
  width: 70vh;
  height: 380px;
  margin-bottom: 5vw;
  margin: auto;
  border: 1.5px solid rgb(0, 0, 0);
  border-radius: 5px;
  background-color: cornsilk;
  overflow: hidden;
}

.DescripcionReserva {
  margin-left: 15px;
  margin-top: 30px;
  margin-bottom: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.ServiciosReserva {
  margin: auto;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}
.ServiciosReserva .servicio {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.ServiciosReserva .servicio:nth-child(2n+1) {
  background-color: #1B262C;
  color: #DCD7C9;
}
.ServiciosReserva .servicio:nth-child(2n+1) img {
  filter: invert(93%) sepia(71%) saturate(108%) hue-rotate(321deg) brightness(91%) contrast(88%);
}
.ServiciosReserva .servicio:nth-child(2n+2) {
  background-color: #DCD7C9;
  color: #1B262C;
}
.ServiciosReserva .servicio:nth-child(2n+2) img {
  filter: invert(9%) sepia(33%) saturate(541%) hue-rotate(157deg) brightness(100%) contrast(90%);
}

.DetallesDepartamento {
  color: #1B262C !important;
  font-style: italic;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
  font-size: 15px;
  margin-left: 5px;
  width: 120px;
  white-space: nowrap;
  overflow: hidden;
}

.NombreReserva {
  color: #1B262C !important;
  font-style: italic;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
  font-size: x-large;
  margin-left: 5px;
}

#ButtonCheck-in {
  width: 400px;
  height: 50px;
  border-radius: 25px;
  margin-bottom: 15px;
  margin: 10px;
  background-color: #1B262C;
  border: 2px solid #DCD7C9;
  color: #DCD7C9;
}

#ButtonCheck-in:hover {
  background-color: #126E82;
}

#ButtonCheck-out {
  width: 400px;
  height: 50px;
  border-radius: 25px;
  margin-bottom: 15px;
  margin: 10px;
  background-color: #1B262C;
  border: 2px solid #DCD7C9;
  color: #DCD7C9;
}

#ButtonCheck-out:hover {
  background-color: #126E82;
}

#ButtonCancelar {
  width: 300px;
  height: 50px;
  border-radius: 25px;
  margin-bottom: 15px;
  margin-top: 200px;
  background-color: #1B262C;
  border: 2px solid #DCD7C9;
  color: #DCD7C9;
}

#ButtonCancelar:hover {
  background-color: #126E82;
}

#ButtonCancelar h4 {
  margin: auto;
  font-size: medium;
}

/*Detalle Reserva lado Derecho*/
.InformacionReservaCont {
  display: flex;
  flex-direction: column;
  width: 50vh;
  height: 55vh;
  margin-top: 40px;
  margin-bottom: 5vw;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 25px;
  background-color: cornsilk;
}

.DestalleValores-Fecha {
  color: #1B262C;
  font-style: italic;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
  font-size: 15px;
  margin-left: 5px;
}

.FechasIT {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.FechaInicio {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 50px;
  border-radius: 25px;
  margin: 15px;
  background-color: #1B262C;
  border: 2px solid #DCD7C9;
  color: #DCD7C9;
}

.FechaTermino {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 50px;
  border-radius: 25px;
  margin: 15px;
  background-color: #1B262C;
  border: 2px solid #DCD7C9;
  color: #DCD7C9;
}

.ContenedorValores {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ValorFormat {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 45px;
  border-radius: 10px;
  margin: 15px;
  background-color: #1B262C;
  border: 2px solid #DCD7C9;
  color: #DCD7C9;
}/*# sourceMappingURL=ReservaDetalle.css.map */