{% extends 'BaseTemplate.html' %}
{% load static %}
{% block css %}
<link href="{% static 'css/verify.css'%}" rel="stylesheet">
{% endblock css %}
{% block js %}
<script src="{% static 'js/tokenManage.js' %}"></script>
{% endblock js %}
{% block body %}
<div id="colorhome" class="">
    <div class="ContenedorPagos">
        <div class="Titulo1">Pago Realizado Con Exito</div>
        <div class="Cuerpo">
            <div class="campo">Fecha de la Transacción</div>
            <div id="fecha" class="d-flex justify-content-center"></div>
            <div class="campo">Hora de la Transacción</div>
            <div id="hora" class="d-flex justify-content-center"></div>
            <div class="campo">Orden de compra:</div>
            <div id="ordencompra" class="d-flex justify-content-center"></div>
        </div>
        <input type="button" id='Btnsig' value="Continuar" onclick="volver()">
    </div>
</div>
{% endblock body %}

{% block wrapper %}
{% endblock wrapper %}

