{% extends 'BaseTemplate.html' %}
{% load static %}
{% block css %}
    <link href="{% static 'css/misreservas.css'%}" rel="stylesheet">
{% endblock css %}

{% block js %}
    <script src="{% static 'js/cancelarreserva.js' %}"></script>
    <script src="{% static 'js/detalle-reserva.js' %}"></script>
{% endblock js %}
{% block body %}
<div id="colorhome" class="">
  <div class="fondoReservas">
    <div class="titulo">Mis Reservas</div>
    <div class="ContenedorReserva">
      {% for reserva in reservas %}
        {% if reserva.Id_Estate != 3 %}
          <a class="cartareserva" href = "{% url 'reservas:ReservaDetalle' reserva.Id_Dpto %}">
            <img src="{{reserva.Imagen}}" alt="">
            <div class="BordesReservas">{{reserva.Nombre}}</div>
            <div class="BordesReservas">{{reserva.StartDate}} - {{reserva.EndDate}}</div>
            <div class="BordesReservas">Valor: {{reserva.Value}}</div>
            <div class="BordesReservas Bton"><button onclick="cancelar('{{reserva.Id_Reserve}}')" id="ButtonCancelar" class="" type="button"><h4>Cancelar</h1></button></div>
          </a>
        {% endif %}
      {% endfor %}
        </div>
    </div>
</div>
{% endblock body %}

{% block wrapper %}
{% endblock wrapper %}