{% extends 'BaseTemplate.html' %}
{% load static %}
{% block css %}
    <link href="{% static 'css/misreservas.css'%}" rel="stylesheet">
{% endblock css %}

{% block js %}
    <script src="{% static 'js/cancelarreserva.js' %}"></script>
{% endblock js %}
{% block body %}
<div id="colorhome" class="">
    <table>
        <tr>
          <th>Id_Reserva</th>
          <th>Id_Usuario</th>
          <th>Id_Departamento</th>
          <th>Id_Estado</th>
          <th>Id_Pago</th>
          <th>Fecha_Desde</th>
          <th>Fecha_Hasta</th>
          <th>Valor</th>
        </tr>
        {% for reserva in reservas %}
            {% if reserva.Id_Estado != 3 %}
                    <tr>
                        <td>{{reserva.Id_Reserva}}</td>
                        <td>{{reserva.Id_Usuario}}</td>
                        <td>{{reserva.Id_Departamento}}</td>
                        <td>{{reserva.Id_Estado}}</td>
                        <td>{{reserva.Id_Pago}}</td>
                        <td>{{reserva.Fecha_Desde}}</td>
                        <td>{{reserva.Fecha_Hasta}}</td>
                        <td>{{reserva.Fecha_Valor}}</td>
                        <td><button onclick="cancelar('{{reserva.Id_Reserva}}')" id="ButtonCancelar" class="" type="button"><h4>Cancelar</h1></button></td>
                    </tr>
            {% endif %}
        {% endfor %}
      </table>
</div>
{% endblock body %}

{% block wrapper %}
{% endblock wrapper %}