{% extends 'BaseTemplate.html' %}
{% load static %}
{% block css %}
<link href="{% static 'css/ReservaDetalle.css'%}" rel="stylesheet">
{% endblock css %}

{% block js %}
<script src="{% static 'js/cancelarreserva.js' %}"></script>
<script src="{% static 'js/CambioMoneda.js' %}"></script>
<script src="{% static 'js/Pagar.js' %}"></script>
<script src="{% static 'js/ReserveDocuments.js' %}"></script>
{% endblock js %}
{% block body %}

<div class="contenedorDetalle">
    <div class="Left-Right-Reserva">
        <div class="Left-Reserva">
            <div class="NombreReserva">{{depto.Address}}</div>
            <div class="Contenedor">
                <div class="DescripcionReservaContenedor">
                    <div class="TContenedordreserv" >Detalles Reserva</div>
                    <div class="DescripcionReserva">
                        <div class="TextoResrva">Reserva de: {{reserva.NOMBRE}}</div>
                        <div class="TextoResrva">Estado Reserva:  {{reserva.ESTADO_RESERVA}}</div>
                        <div class="TextoResrva">Habitaciones:  {{depto.Rooms}}</div>
                        <div class="TextoResrva">Baños:  {{depto.Bathrooms}}</div>
                    </div>
                </div> 
            </div>
            <div class="ServiciosReserva">

            </div> 
        </div>
        <div class="Right-Reserva">
            <div class="InformacionReservaCont">
                <div class="DestalleValores-Fecha">
                    <div class="FechasEstadia">Duración Estadía</div>
                    <div class="FechasIT">
                        <div class="FechaInicio">Desde  {{reserva.FECHADESDE}}</div>
                        -
                        <div class="FechaTermino">Hasta {{reserva.FECHAHASTA}}</div>
                    </div>
                    <div class="Line"></div>
                    <div class="ContenedorValores">
                        <div class="TituloInfoPrecio">Información Precio Reserva</div>
                        <div class="ContenedorDesgloseValores">
                            {% for serv in serviciosExtra %}
                            <div id="{{serv.Id_HiredExtSrv}}">
                                <div>{{serv.Category}}</div>
                                <div>{{serv.Value}}</div>
                            </div>
                            {% endfor %}
                            <div>{{ dias }}</div>

                        </div>
                        <div id="valor" class="ValorFormat">Costo Final <span class="money">{{reserva.VALORTOTAL}}</span></div>
                    </div>
                </div>   
            </div>
        </div>
    </div>
    <div class="documentos-boleta">
        <div class="Documentos">
            <div class="TituloDR">Documentos Reserva </div>
            <div class="Documentacion" id="documentContainer"></div>
        </div>
        <div class="ButtonDirection">
            <div class="BotonOrd">
                <div class="BordesReservas Bton"><button  id="ButtonTicket"  class="" type="button"><h4>Boleta</h1></button></div>
                <div class="BordesReservas Bton"><button  id="ButtonServiceExt"  class="" type="button"><h4>Servicios Extra</h1></button></div>
            </div>
        </div>
    </div>
    <div class="botonespagocancelar">
        <button onclick="cancelar('{{reserva.ID_RESERVA}}')" id="ButtonCancelar" class="" type="button"><h4>Cancelar Reserva</h1></button>
        <button  onclick="pagar('{{reserva.ID_RESERVA}}')" id="ButtonPagar" class="" type="button"><h4>Pagar</h1></button>
    </div>
</div>

{% endblock body %}

{% block wrapper %}
{% endblock wrapper %}