{% load static %}

{% if isLogged %}
<div id="miniProfile">
    <div>
    <p class="name">{{usrName}}</p>
    <div class="logout">
        <a href="{% url 'userManager:LogOut' %}">Cerrar sesion</a>
    </div>
    </div>
    <a href="{% url 'userManager:MyProfile' %}">
        <img src="{% static usrImg %}" alt="">
    </a>
</div>
{% else %}
<div id="ingreso" class="d-flex flex-column">
    <a class="login" href="{% url 'userManager:Login' %}">Iniciar sesion</a>
    <a class="createUser" href="{% url 'userManager:CreateUser' %}">Crear usuario</a>
</div>
{% endif %}