{% load static %}

{% if isLogged %}
<div id="miniProfile">
    <div>
    <p class="name">{{usrName}}</p>
    <div class="logout">
        <a href="{% url 'userManager:LogOut' %}">Cerrar sesion</a>
    </div>
    </div>
    <a href="{% url 'userManager:MyProfile' %}">
        <img src="{{ usrImg }}" alt="">
    </a>
</div>
{% else %}
<a class="usuariobtn" onclick="toggleDisplay('#ingreso')"> <img src="/static/img/ImagenSesion.png"></a>
    <div id="ingreso" class="d-none">
        <a class="login" id="textoboton1" href="{% url 'userManager:Login' %}">Iniciar sesion</a>
        <a class="createUser" id="textoboton2" href="{% url 'userManager:CreateUser' %}">Crear usuario</a>
    </div>
{% endif %}