{% extends 'BaseTemplate.html' %}
{% load static %}

{% block css %}
<link href="{% static 'css/form.css'%}" rel="stylesheet">
<link href="{% static 'css/myProfile.css'%}" rel="stylesheet">
{% endblock css %}

{% block js %}
<script src="{% static 'js/Form.js'%}"></script>
<script src="{% static 'js/ChangePassword.js'%}"></script>
<script src="{% static 'js/Atajo.js'%}"></script>
{% endblock js %}

{% block wrapper %}

<main class="form-signin w-100 m-auto text-center">
    <form>
        <div class="form-floating">
            <input type="password" class="form-control" id="old_password" placeholder="Password">
            <label for="floatingPassword">Antigua contraseña</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="new_password" placeholder="Password" autocomplete="off">
            <label for="floatingPassword">Nueva Contraseña</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="new_password2" placeholder="Password" autocomplete="off">
            <label for="floatingPassword">Repetir nueva Contraseña</label>
        </div>

        <button id="ChangePasswordButton" class="w-100 btn btn-lg btn-primary" type="button">Actualizar Contraseña</button>
    </form>
    {% include 'FormErrorMessage.html' %}
</main>


{% endblock wrapper %}