{% extends 'BaseTemplate.html' %}
{% load static %}

{% block css %}
<link href="{% static 'css/form.css'%}" rel="stylesheet">
<link href="{% static 'css/CrearUsuario.css'%}" rel="stylesheet">
{% endblock css %}

{% block js %}
<script src="{% static 'js/Form.js'%}"></script>
<script src="{% static 'js/CreateUser.js'%}"></script>
<script src="{% static 'js/hide-show-password.js'%}"></script>
<script src="{% static 'js/Atajo.js'%}"></script>
{% endblock js %}

{% block wrapper %}
<div id="colorfondoCrearUsuario">
    <main class="form-signin w-100 m-auto text-center">
        <div id="cartaCrearUsuario">
            <form>
                <img class="mb-4 m-auto logoCrearUsuario" src="{% static 'img/logo.png'%}" alt="" >
                <h1 class="h3 mb-3 fw-normal">Crear usuario</h1>
                <!-- datos usuario -->
                <div class="form-floating">
                    <input type="nombres" class="form-control" id="floatingNombres" placeholder=" ">
                    <label class="labelcolor" for="floatingInput">Nombres</label>
                </div>
                
                <div class="form-floating">
                    <input type="apellidos" class="form-control" id="floatingApellidos" placeholder=" ">
                    <label class="labelcolor" for="floatingInput">Apellidos</label>
                </div>

                <div class="form-floating">
                    <input type="text" class="form-control" id="floatingRut" placeholder=" ">
                    <label class="labelcolor" for="floatingInput">Rut</label>
                </div>
                
                <div class="form-floating">
                    <input type="email" class="form-control" id="floatingEmail" placeholder=" ">
                    <label class="labelcolor" for="floatingInput">Correo electronico</label>
                </div>
                
                <div class="form-floating">
                    <input type="direccion" class="form-control" id="floatingDireccion" placeholder=" ">
                    <label class="labelcolor" for="floatingInput">Direccion</label>
                </div>
                
                <div class="form-floating">
                    <input type="telefono" class="form-control" id="floatingTelefono" placeholder=" ">
                    <label class="labelcolor" for="floatingInput">Telefono</label>
                </div>
                <!-- password -->
                <div class="form-floating">
                    <input type="password" class="form-control" id="floatingPassword" placeholder=" ">
                    <label class="labelcolor" for="floatingPassword">Contraseña</label>
                    <input class= "box" type="checkbox" onclick ="reveal(this,'floatingPassword')">
                </div>

                <div class="form-floating">
                    <input type="password" class="form-control" id="floatingPassword2" placeholder=" ">
                    <label class="labelcolor" for="floatingPassword">Repetir contraseña</label>
                    <input class= "box" type="checkbox"  onclick ="reveal(this,'floatingPassword2')">
                </div>
            
                <div class="checkbox mb-3">

                </div>
                <button id="CreateUserButton" class="w-100 btn btn-lg btn-primary botonhover" type="button">Crear usuario</button>
            </form>
        </div>
        {% include 'FormErrorMessage.html' %}
    </main>
</div>

{% endblock wrapper %}