{% extends 'BaseTemplate.html' %}
{% load static %}

{% block css %}
<link href="{% static 'css/form.css'%}" rel="stylesheet">
<link href="{% static 'css/Login.css'%}" rel="stylesheet">
{% endblock css %}

{% block js %}
<script src="{% static 'js/Login.js'%}"></script>
<script src="{% static 'js/hide-show-password.js'%}"></script>
<script src="{% static 'js/Atajo.js'%}"></script>
{% endblock js %}

{% block wrapper %}
<div class="d-flex justify-content-center align-items-center" id="colorfondoLogin">
    <main class="form-signin w-100 m-auto text-center">
        
            <div id="cartalogin">
                <form >
                    <img class="mb-3 m-auto logoIniciarSesion" src="{% static 'img/logo.png'%}" alt="" >
                    <h1 class="h3 mb-3 fw-normal">Inicio de sesion</h1>

                    <div class="form-floating">
                        <input type="email" class="form-control" id="inputEmail" maxlength="50" placeholder = " " >
                        <label class="labelcolor" for="floatingInput">Correo electronico</label>
                    </div>
                    <div class="form-floating">
                        <input type="password" class="form-control" id="pass" maxlength="80" placeholder=" ">
                        <label class="labelcolor" for="floatingPassword">Contraseña</label>
                        <img src="{% static 'img\hide-show-pass\openeye.png'%}" check='0' class='reveal' id='open' alt=""  onclick="revelar(this, 'pass', 'open', 'close')">
                        <img src="{% static 'img/hide-show-pass/closeeye.png' %}" class='d-none' id='close'alt="">
                    </div>
                
                    <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" value="remember-me" id="checkRememberMe"> Recuerdame
                    </label>
                    </div>
                    <button id="LoginButton" onmouseover="toggleDisplay('#flecha-login')" onmouseout="toggleDisplay('#flecha-login')" class="submit" type="button">
                        <img src="{% static 'img/flecha.png'%}" id="flecha-login" class="d-none">
                        <span>Ingresar</span>
                    </button>

                </form>
                <a id="btn-crearUsuario" class="dropdown-item a-crear" href="{% url 'userManager:CreateUser' %}">Crear usuario</a>
            </div>
        

        {% include 'FormErrorMessage.html' %}

    </main>
</div>
{% endblock wrapper %}