{% extends 'BaseTemplate2.html' %}
{% load static %}

{% block css %}
<link href="{% static 'css/form.css'%}" rel="stylesheet">
{% endblock css %}

{% block js %}
<script src="{% static 'js/Form.js'%}"></script>
<script src="{% static 'js/Login.js'%}"></script>
<script src="{% static 'js/hide-show-password.js'%}"></script>
{% endblock js %}

{% block wrapper %}
<div class="d-flex justify-content-center align-items-center" id="colorfondo">
    <main class="form-signin w-100 m-auto text-center">
        
            <div id="cartalogin">
                <form >
                    <img class="mb-3 m-auto" src="{% static 'img/logo.png'%}" alt="" width="100">
                    <h1 class="h3 mb-3 fw-normal">Inicio de sesion</h1>

                    <div class="form-floating">
                        <input type="email" class="form-control" id="inputEmail" placeholder="name@example.com">
                        <label for="floatingInput">Correo electronico</label>
                    </div>
                    <div class="form-floating">
                        <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                        <label for="floatingPassword">Contraseña</label>
                        <input type="checkbox" id="box" onclick ="reveal()">
                    </div>
                
                    <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" value="remember-me" id="checkRememberMe"> Recuerdame
                    </label>
                    </div>
                    <button id="LoginButton" class="w-100 btn btn-lg btn-primary botonhover" type="button">Iniciar sesion</button>

                </form>
                <a id="btn-crearUsuario" class="dropdown-item" href="{% url 'userManager:CreateUser' %}">Crear usuario</a>
            </div>
        

        {% include 'FormErrorMessage.html' %}

    </main>
</div>
{% endblock wrapper %}