{% extends 'BaseTemplate.html' %}
{% load static %}

{% block css %}
<link href="{% static 'css/form.css'%}" rel="stylesheet">
<link href="{% static 'css/myProfile.css'%}" rel="stylesheet">
{% endblock css %}

{% block js %}
<script src="{% static 'js/Form.js'%}"></script>
<script src="{% static 'js/UpdateProfile.js'%}"></script>
{% endblock js %}

{% block wrapper %}

<main class="form-signin w-100 m-auto text-center">
    <form>
        <img id="profilePicture" class="mb-4 m-auto" src="{% static usrImg %}" alt="" width="100">
        <h1 class="h3 mb-3 fw-normal">Mi perfil</h1>
        <!-- datos usuario -->
        <div class="form-floating">
            <input type="nombres" class="form-control" id="floatingNombres" value="{{ profile.names }}">
            <label for="floatingInput">Nombres</label>
        </div>
        
        <div class="form-floating">
            <input type="apellidos" class="form-control" id="floatingApellidos" value="{{ profile.lastnames }}">
            <label for="floatingInput">Apellidos</label>
        </div>
        
        <div class="form-floating">
            <input type="email" class="form-control" id="floatingEmail" value="{{ profile.email }}">
            <label for="floatingInput">Email address</label>
        </div>
        
        <div class="form-floating">
            <input type="direccion" class="form-control" id="floatingDireccion" value="{{ profile.address }}">
            <label for="floatingInput">Direccion</label>
        </div>
        
        <div class="form-floating">
            <input type="telefono" class="form-control" id="floatingTelefono"value="{{ profile.phone }}">
            <label for="floatingInput">Telefono</label>
        </div>
    
        <div class="checkbox mb-3">

        </div>
        <button id="CreateUserButton" class="w-100 btn btn-lg btn-primary" type="button">Actualizar perfil</button>
    </form>
    {% include 'FormErrorMessage.html' %}
</main>


{% endblock wrapper %}