{% extends 'BaseTemplate.html' %}
{% load static %}

{% block css %}
<link href="{% static 'css/form.css'%}" rel="stylesheet">
<link href="{% static 'css/myProfile.css'%}" rel="stylesheet">
{% endblock css %}

{% block js %}
<script src="{% static 'js/UpdateProfile.js'%}"></script>
<script src="{% static 'js/Atajo.js'%}"></script>
<script src="{% static 'js/RutFormatter.js'%}"></script>
{% endblock js %}

{% block wrapper %}
<div class="fondoMiPerfil">
    <main class="form-signin w-100 m-auto text-center">
        <div id="cartaMiPerfil">
            <form>
                <img id="profilePicture" class="mb-4 m-auto" src="{{ usrImg }}" alt="" width="100" onclick="input_imagen.click()">
                <input class="form-control d-none" type="file" id="input-Imagen">
                <h1 class="h3 mb-3 fw-normal">Mi perfil</h1>
                <!-- datos usuario -->
                <div class="form-floating">
                    <input type="nombres" class="form-control" id="input-Nombres" maxlength="100" value="{{ profile.names }}">
                    <label for="floatingInput" class="labelcolor">Nombres</label>
                </div>
                
                <div class="form-floating">
                    <input type="apellidos" class="form-control" id="input-Apellidos" maxlength="100" value="{{ profile.lastnames }}">
                    <label for="floatingInput" class="labelcolor">Apellidos</label>
                </div>

                <div class="form-floating">
                    <input type="text" class="form-control rut" id="input-Rut" maxlength="12" value="{{ profile.rut }}">
                    <label for="floatingInput" class="labelcolor">Rut</label>
                </div>
                
                <div class="form-floating">
                    <input type="email" class="form-control" id="input-Email" maxlength="50" value="{{ profile.email }}">
                    <label for="floatingInput" class="labelcolor">Email address</label>
                </div>
                
                <div class="form-floating">
                    <input type="direccion" class="form-control" id="input-Direccion" maxlength="50" value="{{ profile.address }}">
                    <label for="floatingInput" class="labelcolor">Direccion</label>
                </div>
                
                <div class="form-floating">
                    <input type="telefono" class="form-control" id="input-Telefono" maxlength="12" value="{{ profile.phone }}">
                    <label for="floatingInput" class="labelcolor">Telefono</label>
                </div>
            
                <div class="checkbox mb-3">

                </div>
                
                <button id="UpdateProfileButton" class="w-100 btn btn-lg btn-primary submit" type="button">Actualizar perfil</button>
                <a id="btn-changePassword" class="dropdown-item" href="{% url 'userManager:ChangePassword' %}">Cambiar contraseña</a>
            </form>
            {% include 'FormErrorMessage.html' %}
        </div>
    </main>
</div>


{% endblock wrapper %}